<h1>Form</h1>

<form method="post" action="/addUser">

  <input type="text" name="username" placeholder="Enter Username">
  <input type="password" name="password" placeholder="Enter Password">

  <!-- <select name="state">
    <option>New Jersey</option>
    <option>New York</option>
  </select> -->

  <input type="submit" value="Submit Form">

</form>
