/* This is how you put a comment in css */

body{
	background-color: white;
}

h1{
	color: red;
}

h2{
	color: blue;	
}

h3{
	color: green;
}

p{
	color: pink;
}

#list{
	color: orange;
}

.things{
	font-family: "Arial";
	font-size: 20px;
}

a:hover{
	color: maroon;
}
