#wrapper {
	margin: 0 auto;
	text-align: center;
	width: 900px;
}

nav {
	margin: 0 auto;
	text-align: center;
	width: 500px;
}

#nav-items {
	background: gray;
	list-style: none;
	margin: 0 auto;
}

#nav-items li {
	display: inline-block;
	font-family: Arial;
	font-size: 14px;
	margin: 2px 50px;
	padding: 5px;
	text-align: center;	
}

#nav-items li a {
	text-align: center;
	text-decoration: none;
	color: white;
}

#nav-items li a:hover{
	color: black;
}

#nav-items li a:active{
	color: red;
}

ol {
	list-style: none; 
}

button {
	border: 1px solid navy;
	border-radius: 15px; /* THIS IS WHAT ROUNDS THE CORNERS */
	background-color: rgba(8,194,220,0.5);
	color: #ffffff;
	font-family: 'Helvetica';
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 20px;
	width: 200px;
}

button:hover {
	background-color: rgb(8,194,220);
}